.layout {
  min-height: 100vh !important;
  display: grid !important;
  grid-template-rows: auto 1fr auto;

  &__header {
    @media (max-width: 768px) {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

  &__contentWrapper {
    text-align: center;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    @media (max-width: 768px) {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

  &__content {
    background: rgba(255, 255, 255, 0.3);
  }

  &__footer {
    @media (max-width: 768px) {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }
}
